In [649]:
import pandas as pd
import matplotlib.pyplot as pp
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree
%matplotlib inline

In [650]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [713]:
cdf = df.copy()
cdf['FarePH'] = cdf['Fare'] / (cdf['SibSp'] + cdf['Parch'] + 1)
cdf = cdf.drop(['Ticket', 'Name', 'Cabin', 'PassengerId', 'Embarked'], axis=1)
# cdf['Child'] = np.where(cdf['Age'] < 16, 1, 0)
# cdf = cdf.drop('Age', axis=1)
cdf = cdf.dropna(axis=0, how='any')
len(cdf)

714

In [724]:
def ageGroup(age):
    if age <= 5: return 1
    elif age <= 10: return 2
    elif age <= 15: return 3
    elif age < 5: return 4

cdf['Age'] = cdf['Age'].apply(ageGroup)

In [726]:
cdf['Sex'] = cdf['Sex'].apply({'male':0, 'female':1}.get).astype('category')
#cdf['Embarked'] = cdf['Embarked'].apply({'C':1, 'Q':2, 'S':3, None:4}.get).astype('category')
cdf.sort_values(by='FarePH', ascending=False)[:5]

     Survived  Pclass  Sex  Age  SibSp  Parch      Fare    FarePH
258         1       1  NaN    1      0      0  512.3292  512.3292
737         1       1  NaN    1      0      0  512.3292  512.3292
679         1       1  NaN    1      0      1  512.3292  256.1646
716         1       1  NaN    1      0      0  227.5250  227.5250
380         1       1  NaN    1      0      0  227.5250  227.5250

In [715]:
cdf_age_known =  cdf[cdf['Age'].isnull() == False]
cdf_age_unknown = cdf[cdf['Age'].isnull()]

In [716]:
cdf_age_known_X, cdf_age_known_y = (cdf_age_known.drop(['Survived'], axis=1)), cdf_age_known['Survived']

In [717]:
cdf_age_known_X_train, cdf_age_known_X_test, cdf_age_known_y_train, cdf_age_known_y_test \
    = train_test_split(cdf_age_known_X, cdf_age_known_y, test_size=0.3)

In [718]:
tree_clf = tree.DecisionTreeClassifier()

In [719]:
tree_clf.fit(cdf_age_known_X_train, cdf_age_known_y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [720]:
tree_clf.score(cdf_age_known_X_test, cdf_age_known_y_test)

0.72558139534883725

In [728]:
cdf[cdf['Age'] == 2]

Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, FarePH]
Index: []