In [1]:
import pandas as pd
import matplotlib.pyplot as pp
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import AdaBoostClassifier as ab
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
cdf = df.copy()
cdf = cdf.drop(['Ticket', 'Name', 'Cabin', 'PassengerId', 'Embarked'], axis=1)
cdf.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [8]:
print('Before dropping NaNs:',cdf.shape)
cdf = cdf.dropna(axis=0, how='any')
print('After dropping NaNs:',cdf.shape)

Before dropping NaNs: (891, 7)
After dropping NaNs: (714, 7)

In [9]:
cdf['Sex'] = cdf['Sex'].apply({'male':0, 'female':1}.get).astype('category')
cdf.head()

   Survived  Pclass Sex   Age  SibSp  Parch     Fare
0         0       3   0  22.0      1      0   7.2500
1         1       1   1  38.0      1      0  71.2833
2         1       3   1  26.0      0      0   7.9250
3         1       1   1  35.0      1      0  53.1000
4         0       3   0  35.0      0      0   8.0500

In [10]:
cdf_X, cdf_y = (cdf.drop(['Survived'], axis=1)), cdf['Survived']

In [13]:
cdf_X_train, cdf_X_test, cdf_y_train, cdf_y_test = train_test_split(cdf_X, cdf_y, test_size=0.2)

In [69]:
learningRates = np.arange(0.01, 0.3, 0.02)
numEstimator = np.arange(5, 400, 20,dtype=int).astype(int).tolist()

In [ ]:
metrics = []
for lr in learningRates: 
    for ne in numEstimators: tree_clf = ab(n_estimators=ne, learning_rate=lr)
        tree_clf.fit(cdf_X_train, cdf_y_train)
        train_acc = tree_clf.score(cdf_X_train, cdf_y_train)
        test_acc = tree_clf.score(cdf_X_test, cdf_y_test)
        metrics.append(lr, ne, train_acc, test_acc)

In [46]:
tree_clf = ab(n_estimators=350, learning_rate=0.3)
tree_clf.fit(cdf_X_train, cdf_y_train)

<bound method ClassifierMixin.score of AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=0.3, n_estimators=350, random_state=None)>

In [40]:
tree_clf.score(cdf_X_train, cdf_y_train)

0.83537653239929943

In [41]:
tree_clf.score(cdf_X_test, cdf_y_test)

0.81818181818181823

In [54]:
np.arange(5, 400, 20,dtype=int)

array([  5,  25,  45,  65,  85, 105, 125, 145, 165, 185, 205, 225, 245,
       265, 285, 305, 325, 345, 365, 385])